html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0px;
	/* Remove scrollbar space */
	background: transparent;
	/* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */

body {
	color: #282c3f !important;
	background-color: #fff;
}
.bg-grey {
	background-color: #f4f4f4 !important;
}
.bg-wite {
	background-color: #fff !important;
}
.hidden {
	display: none !important;
}
.spinner {
	color: rgba(252, 128, 25, 0.15);
}
.height-30 {
	height: 30vh;
}
.height-40 {
	height: 40vh;
}
.height-50 {
	height: 50vh;
}
.height-60 {
	height: 60vh;
}
.height-70 {
	height: 70vh;
}
.height-100 {
	height: 100vh;
}
.height-100-percent {
	height: 100% !important;
	min-height: 100vh !important;
}
.fixed {
	position: fixed;
}
.truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shadow-light {
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}
.shadow-medium {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}
.shadow-dark {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}
.display-flex {
	display: flex !important;
}
.flex-auto {
	flex: auto;
}
/* FirstScreen */

.welcome-heading {
	text-align: center;
	margin: 0.25rem 1.5625rem 0;
	font-size: 1.5rem;
	line-height: 1.75rem;
	font-weight: 700;
	white-space: pre-wrap;
	color: #282c3f;
}
.welcome-subheading {
	font-size: 0.875rem;
	color: #646464;
	margin-top: 0.9375rem;
}
.btn-setup-location {
	width: 16rem;
	height: 4rem;
	margin: 0 auto;
	font-size: 1.1rem;
	font-weight: 700;
	display: block;
	color: #fff;
	text-transform: uppercase;
	border-radius: 1px;
	text-align: center;
	line-height: 2.7rem;
}
.btn-setup-location:hover {
	color: #fff;
}
.login-block {
	display: block;
	text-align: center;
	color: #646464;
	margin-top: 0.9375rem;
}
.login-block > a {
	font-weight: 400;
}
/* Location */

.search-box {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.search-input {
	font-size: 0.9375rem;
	height: 4rem;
	border: 0;
}
.search-navs-btns {
	height: 4rem;
	border: 0;
	width: 65px;
	background: #fff;
	border-radius: 0;
}
.search-navs-btns > i {
	font-weight: 900;
}
.height-8-5 {
	height: 8.5vh;
}
.location-search-result {
	min-height: auto;
	background-color: #fff;
}
.location-search-block {
	border-top: 1px solid #eaecee;
	position: relative;
	padding: 1.4rem 0;
	background-color: rgba(0, 0, 0, 0.02);
}
.location-search-block:nth-of-type(2n-1) {
	background-color: #fff;
}
.location-search-icon {
	width: 5rem;
	float: left;
	text-align: center;
}
.location-search-data {
	padding-left: 5.625rem;
}
table > tbody > tr {
	height: 6rem;
}
/*Footer */

.footer-fixed {
	position: fixed;
	bottom: -1px;
	box-shadow: 0px -2px 6px 1px rgba(0, 0, 0, 0.15);
	display: inline-flex;
	background-color: #fff;
	text-align: center;
	z-index: 9999999;
}
.active-footer-tab {
	color: #fc8019;
	font-weight: 600;
}
.footer-links {
	color: #4d4d4d;
	font-weight: 500;
}
.cart-quantity-badge {
	border-radius: 100%;
	color: #fff;
	position: absolute;
	top: -4px;
	left: 50px;
	font-size: 10px;
	text-align: center;
	height: 16px;
	width: 16px;
}
/* Nav */

.nav-location {
	height: 4rem;
	border: 0;
	background: #fff;
	border-radius: 0;
}
.nav-location-icon {
	font-size: 0.625rem;
	margin-left: 0.125rem;
	font-weight: 700;
}
/* Promo Slider */

.slider-wrapper {
	margin-top: 1rem;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-bottom: 1rem;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
.slider-wrapper::-webkit-scrollbar {
	display: none;
}
.slider-wrapper__img-wrapper {
	display: inline-block;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.slider-wrapper__img {
	height: 12rem;
	width: 12rem;
	border-radius: 0.25rem;
}
.slider-wrapper__img-wrapper:first-child {
	margin-left: 1rem;
}
.slider-wrapper__img-wrapper:last-child {
	margin-right: 1rem;
}
.promo-slider-loader {
	width: 100%;
	margin: 0;
	height: 192px;
}
/* RestaurantList */

.restaurant-count {
	text-transform: uppercase;
	color: #5b5b5b;
	font-size: 0.93rem;
	font-weight: 500;
	margin-left: 0.2rem;
}
.restaurant-block {
	padding: 0 !important;
	box-shadow: 0 1px rgba(0, 0, 0, 0.03);
}
.restaurant-block > div {
	margin-bottom: 0px !important;
}
.restaurant-image {
	width: 80px;
	height: 80px;
	float: left;
	height: 5.625rem;
	border-radius: 0.25rem;
}
.restaurant-info {
	margin-top: -2rem;
	text-align: left;
	padding-left: 10rem;
}
.restaurant-meta {
	margin-top: -1.2rem;
	font-size: 0.8rem;
	font-weight: 500;
}
/* Auth/Login */

.back-button {
	background-color: transparent;
}
.login-image {
	max-height: 7rem;
}
.login-texts {
}
.login-title {
	font-size: 1.3rem;
	font-weight: 700;
	text-transform: uppercase;
}
.login-subtitle {
	font-size: 1rem;
	font-weight: 400;
}
.overlay-loading {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 9999;
}
.overlay-loading > div {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.overlay-loading > div > img {
	width: 300px;
}
.auth-error {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #282c3f;
	color: #f4f4f5;
	padding: 0.8rem;
	z-index: 2147483647;
}
.error-shake {
	-webkit-animation: shake 0.8s 1 linear;
	-moz-animation: shake 0.8s 1 linear;
	-o-animation: shake 0.8s 1 linear;
}
shake {
	0% {
		-webkit-transform: translate(30px);
	}
	20% {
		-webkit-transform: translate(-30px);
	}
	40% {
		-webkit-transform: translate(15px);
	}
	60% {
		-webkit-transform: translate(-15px);
	}
	80% {
		-webkit-transform: translate(8px);
	}
	100% {
		-webkit-transform: translate(0px);
	}
}
/* Elements/Button */

.button-block {
	width: 100%;
}
.btn-main {
	width: 100%;
	height: 4rem;
	font-size: 1.2rem;
	border-radius: 0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
}
/* Items/Restaurantinfo */

.fixed-restaurant-info {
	position: absolute;
	top: 0.6rem;
	left: 5.2rem;
}
.fixedRestaurantName {
	font-size: 1rem;
	font-weight: 700;
}
.fixedRestaurantTime {
	font-weight: 400;
	font-size: 0.9rem;
}
/* Items/ItemList */

.recommended-item-content {
	padding: 0.5rem;
	height: 14rem;
	min-height: 14rem;
}
.recommended-item-image {
	border-radius: 0.25rem;
	height: 118px;
	width: 162px;
}
.recommended-item-meta {
	height: 4.5rem;
	min-height: 4.5rem;
}
.meta-name {
	font-size: 0.95rem;
	font-weight: 500;
}
.meta-price {
	font-size: 0.95rem;
	line-height: 1.5625rem;
}
.Collapsible {
	background-color: white;
}
.Collapsible__contentInner {
	padding: 10px;
}
.Collapsible__contentInner .category-list-item {
	margin-bottom: 0.625rem;
	font-size: 0.98rem;
	margin-bottom: 0.625rem;
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 0.8rem;
	padding-left: 0.3125rem;
}
.Collapsible__contentInner .category-list-item:last-child {
	margin-bottom: 0;
	border: 0;
}
.Collapsible__contentInner > div > .item-name {
	font-weight: 500;
}
.Collapsible__contentInner > div > .item-price {
	font-weight: 400;
	color: #757575;
}
.Collapsible__trigger {
	display: block;
	text-decoration: none;
	position: relative;
	padding: 1.5rem 1rem;
	background: #ffffff;
	color: #282c3f;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 0.5rem;
	font-weight: 600;
}
.Collapsible__trigger:after {
	font-family: "FontAwesome";
	content: "\f107";
	position: absolute;
	right: 1.025rem;
	top: 1.425rem;
	display: block;
	transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
	transform: rotateZ(180deg);
}
.item-badge {
	position: relative;
	color: #fff;
	font-size: 0.6rem;
	padding: 0.25rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-left: 0.25rem;
	border-radius: 0.25rem;
}
.btn-add-remove {
	border: 1px solid #efefef;
	width: 3.7rem;
	background-color: #fff;
	height: 2.5rem !important;
}
.btn-full .btn-add-remove {
	width: 82px !important;
}
.btn-dec {
	font-size: 2rem;
	font-weight: 600;
	line-height: 11px;
}
.btn-inc {
	font-size: 1.4rem;
	font-weight: 900;
	line-height: 14px;
}
.flex-item-name {
	margin-left: 10px;
	flex-grow: 1;
	border: 0 !important;
}
.flex-item-image {
	border-radius: 0.25rem;
	width: 80px;
	height: 58px;
}
.recommended-text {
	font-size: 1rem;
	text-transform: uppercase;
}
/* FloatCart */

.float-cart {
	position: fixed;
	width: 100%;
	height: 4rem;
	padding: 1.2rem;
	font-weight: 700;
	opacity: 0;
	bottom: 0rem;
	transition: 0.2s all linear;
	z-index: 10;
}
.float-cart--open {
	opacity: 1;
	bottom: -0.2rem;
	transition: 0.2s all linear;
}
/* Elements/BackWithSearch*/

.nav-page-title {
	font-size: 1.3rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 42px;
}
/* Cart */

.cart-empty-block {
	height: auto;
	padding-top: 100px;
}
.cart-empty-img {
	width: 100%;
}
.cart-empty-text {
	font-size: 1.2rem;
	font-weight: 600;
	color: #535665;
}
.progress-transparent {
	background-color: transparent !important;
}
/* Cart/CartItems */

.btn-quantity {
	height: 2.5rem !important;
	background-color: #fff;
	border: 1px solid #efefef;
}
.cart-item-meta {
	display: flex;
}
.cart-item-meta:last-child {
	border-bottom: 1px solid #f2f2f2;
}
.cart-item-name {
	flex: auto;
	width: 110px;
	font-weight: 400;
}
.cart-item-btn {
	flex: auto;
	width: 110px;
	margin-top: -0.5rem;
}
.cart-item-price {
	font-weight: 500;
	font-weight: 400;
	width: 75px;
	text-align: right;
}
.item-text {
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 1rem;
}
/* Cart/OrderComment */

.order-comment {
	height: 3.2rem;
	font-size: 1rem;
	border: 0;
	padding: 0 15px;
	border-radius: 0;
}
/* Cart/Coupon */

.coupon-form {
	width: 100%;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.apply-coupon-input {
	height: 5rem;
	font-size: 1.1rem;
	border: 0;
	padding: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.apply-coupon-input::placeholder {
	color: #282c3f;
	letter-spacing: 1px;
}
.apply-coupon-input::-webkit-input-placeholder {
	color: #282c3f;
	letter-spacing: 1px;
}
.apply-coupon-input::-moz-placeholder {
	color: #282c3f;
	letter-spacing: 1px;
}
.apply-coupon-btn {
	height: 5rem;
	background-color: #fff;
	width: 4rem;
	border: 0;
	border-radius: 0 !important;
}
.apply-coupon-btn > i {
	font-size: 1.2rem;
	font-weight: 600;
}
.coupon-status {
	width: 100%;
	text-align: center;
}
.coupon-success {
	background-color: #60b246;
	color: #fff;
	font-weight: 500;
}
.coupon-fail {
	background-color: #f44336;
	color: #fff;
	font-weight: 500;
}
.coupon-text {
	color: #60b246;
	font-weight: 500;
}
/* Cart/BillDetails */

.bill-details {
}
.bill-details::after {
	content: " ";
	background: -webkit-linear-gradient(135deg, #f4f4f5 7px, transparent 0),
		-webkit-linear-gradient(45deg, #f4f4f5 7px, transparent 0);
	background: -o-linear-gradient(135deg, #f4f4f5 7px, transparent 0),
		-o-linear-gradient(45deg, #f4f4f5 7px, transparent 0);
	background: linear-gradient(-45deg, #f4f4f5 7px, transparent 0),
		linear-gradient(45deg, #f4f4f5 7px, transparent 0);
	background-position: left bottom;
	background-repeat: repeat-x;
	background-size: 12px 14px;
	display: block;
	left: 0;
	width: 100%;
	height: 14px;
	bottom: 0;
}
.bill-detail-text {
	height: 3.2rem;
	font-size: 1.1rem;
	border: 0;
	text-transform: uppercase;
}
/* Cart/CartCheckoutBlock */

.cart-checkout-block {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 9;
	height: 22vh;
	box-shadow: 0px -2px 12px 2px rgba(0, 0, 0, 0.06);
}
.deliver-to-text {
	font-size: 1rem;
	text-transform: uppercase;
	padding-bottom: 1rem;
	font-weight: 600;
}
.change-address-text {
	font-size: 0.8rem;
	text-transform: uppercase;
	padding-bottom: 1rem;
	font-weight: 600;
	border: 1px solid #ccc;
}
.user-address {
	font-size: 13px;
}
.almost-there-text {
	font-size: 1.2rem;
	text-transform: uppercase;
	padding-bottom: 1rem;
	font-weight: 700;
}
.almost-there-sub {
	font-weight: 400;
	font-size: 0.9rem;
}
.btn-continue {
	width: 100%;
	border-radius: 0;
	height: 4rem;
	margin: 0 auto;
	font-size: 1.1rem;
	font-weight: 700;
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 2.7rem;
	bottom: 0;
	position: fixed !important;
	margin-left: -1.1rem;
}
.btn-continue:focus,
.btn-continue:hover {
	color: #fff !important;
}
.btn-make-payment {
	width: 100%;
	margin: 0 auto;
	padding: 0.9375rem 0;
	line-height: 1.95rem;
	font-size: 1.1rem;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
	border-radius: 0;
	height: 4rem;
	bottom: 0;
	position: fixed !important;
}
.btn-make-payment:focus,
.btn-make-payment:hover {
	color: #fff !important;
}
/* Account/UserInfo */

.hr-bold {
	border-top: 2.5px solid #000 !important;
}
/* Account/UserMenu */

.pages-modal {
	overflow: scroll;
	min-height: 100vh;
}
.popup-overlay {
	padding: 0 !important;
}
.popup-content {
	width: 100% !important;
	border: 0 !important;
	padding: 10px !important;
	padding-top: 0 !important;
}
.close-modal-header {
	position: fixed;
	height: 4rem;
	top: 0;
	width: 100%;
	right: 10px;
	background-color: #fff;
	border: 0 !important;
}
.close-modal-icon {
	font-size: 2.5rem;
	font-weight: 200;
}
/* Account/Logout */

.logout-text {
	color: #f44336;
	font-weight: 600;
}
.logout-icon {
	color: #f44336;
	font-weight: 900;
}
/* Account/Addresses */

.btn-new-address {
	position: fixed !important;
	width: 100%;
	margin: 0 auto;
	padding: 0.9375rem 0;
	line-height: 2.15rem;
	font-size: 1.2rem;
	font-weight: 600;
	display: block;
	text-transform: uppercase;
	border-radius: 0;
	bottom: 0;
	color: #fff;
	text-align: center;
}
.btn-save-address {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0.9375rem 0;
	line-height: 2.15rem;
	font-size: 1.2rem;
	font-weight: 600;
	display: block;
	text-transform: uppercase;
	border-radius: 0;
	color: #fff;
	text-align: center;
	border: 0;
}
.edit-address-input-label {
	color: #9e9e9e;
}
.edit-address-input {
	margin-bottom: 1.5rem;
	border: 0;
	border-bottom: 1.2px solid #eee;
	border-radius: 0;
	padding: 0;
}
.edit-address-tag {
	text-transform: uppercase;
}
.btn-edit-address {
	font-weight: 500;
}
/* Address/AddressList */

.btn-address-default {
	background-color: transparent;
	position: relative;
}
.btn-address-default > i {
	color: #ccc;
}
.btn-address-default.selected > i {
	font-size: 2rem;
}
/* RunningOrder */
.btn-deliverypin {
	border: 1px solid #ccc;
	padding: 0px 10px;
	color: #ff9800;
}
.btn-refresh-status {
	width: 100%;
	position: fixed;
	bottom: 0;
	border: 0;
	border-radius: 0;
	height: 4rem;
	font-size: 1.2rem;
}
/* Account/Orders/OrderList */

.order-item-quantity {
	border: 1px solid #e0e0e0;
	padding: 2px 8px;
	font-weight: 500;
	min-width: 35px;
	text-align: center;
}
/* Desktop View */

.main-container-desktop {
	min-height: 100vh;
	background: linear-gradient(
		-45deg,
		rgba(103, 58, 183, 0.9),
		rgba(255, 87, 34, 0.7),
		rgba(103, 58, 183, 0.9),
		rgba(255, 87, 34, 0.7)
	);
	background-size: 500% 500%;
	animation: Gradient 50s ease infinite;
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}
.main-container-desktop::before {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: url(../img/various/bg-design.png) no-repeat scroll center bottom/cover;
	z-index: -1;
}
.phone {
	flex-shrink: 0;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
	width: 380px;
	height: 665px;
	padding: 10px 7px;
	border-radius: 20px;
	background: #d9dee3;
	align-self: center;
	margin: -3.5rem 0 0 12rem;
	position: relative;
	transform: rotate(-15deg);
	transition: 0.3s linear all;
}
.phone-use {
	width: 380px;
	height: 665px;
	margin: -3rem 0 0 8rem;
	transition: 0.3s linear all;
	transform: rotate(0deg);
}
.phone .notch {
	position: absolute;
	height: 1rem;
	width: 28%;
	background-color: #d9dee3;
	z-index: 9;
	right: 50%;
	transform: translate(50%, -5%);
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}
.phone .iframe-wrapper {
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	height: 100%;
}
.phone iframe {
	height: 100%;
	display: block;
	width: 100%;
	border-radius: 12px;
}
.blured {
	filter: grayscale(0.8);
}
.btn-unblur {
	height: 4.5rem;
	width: 200px;
	background-color: #f1592a;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	color: #fff;
	border-radius: 0.275rem;
	line-height: 4rem;
	transition: 0.2s linear all;
}
.btn-unblur:hover {
	background-color: #f1593a;
	box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	transition: 0.2s linear all;
}
#appIframe {
	pointer-events: none;
}
.phone-use #appIframe {
	pointer-events: auto !important;
}
.bg-gradient {
	background: linear-gradient(
		-45deg,
		rgba(103, 58, 183, 0.9),
		rgba(0, 150, 136, 0.9),
		rgba(103, 58, 183, 0.9)
	);
	background-size: 400% 400%;
	animation: Gradient 30s ease infinite;
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.left-col {
	transform: translate(0px, 20%);
}
.desktop-logo {
	margin-bottom: 2.5rem;
	height: 3.5rem;
}

.desktop-title {
	color: #424242;
	font-size: 3.5rem;
	font-weight: 900;
}
.desktop-subtitle {
	color: #424242;
	font-size: 1.3rem;
	font-weight: 400;
}

.store-achievement {
	width: 200px;
	height: 150px;
	box-shadow: rgba(34, 48, 102, 0.1) -3px 6px 21.1px -4px;
	border-radius: 7px;
	background-color: #fff;
	transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.store-achievement:hover {
	transform: translateY(0, -10%);
	box-shadow: rgba(34, 48, 102, 0.1) -3px 6px 21.1px -10px;
}
.Tilt {
	transform-style: preserve-3d;
}
.store-achievement h3 {
	font-weight: 900;
	color: #424242;
	margin-bottom: 0.45rem;
}

.store-achievement h4 {
	transform: translateZ(15px);
	color: #424242;
}

.desktop-footer {
	min-height: 70vh;
	background: linear-gradient(
		-45deg,
		rgba(255, 87, 34, 0.7),
		rgba(103, 58, 183, 0.9),
		rgba(255, 87, 34, 0.7),
		rgba(103, 58, 183, 0.9)
	);
	background-size: 500% 500%;
	animation: Gradient 50s ease infinite;
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}
.desktop-footer::before {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: url(../img/various/bg-design.png) no-repeat scroll center bottom/cover;
	z-index: -1;
	transform: rotate(-180deg);
}
.footer-logo {
	height: 2rem;
}
/* END Desktop View */

/* Delivery/Orders */

.delivery::after {
	content: " ";
	background: -webkit-linear-gradient(135deg, #f4f4f4 7px, transparent 0),
		-webkit-linear-gradient(45deg, #f4f4f4 7px, transparent 0);
	background-position: left bottom;
	background-repeat: repeat-x;
	background-size: 14px 14px;
	display: block;
	left: 0;
	width: 100%;
	height: 10px;
	bottom: 18px;
	position: relative;
}
.btn-logout-delivery {
	width: 100%;
	border-radius: 0;
	height: 4rem;
	margin: 0 auto;
	font-size: 1.1rem;
	font-weight: 700;
	display: block;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 2.7rem;
	bottom: 0;
	position: fixed !important;
	background-color: #000;
}
.delivery > h3 {
	color: #575757;
	text-transform: uppercase;
	font-size: 1.2rem;
}
.delivery .block {
	background-color: #fff;
	margin-bottom: 0.8rem;
}
.delivery .accepted {
	background-color: #60b246;
}
.delivery .new-order {
	background-color: #ff9800;
}
.delivery .block-title {
	color: #fff;
	font-weight: 700;
}
.delivery-action {
	position: fixed;
	width: 100%;
	bottom: 0;
}
.btn-accept {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 0;
	border: 0;
	height: 4rem;
	font-size: 1.2rem;
	color: #fff;
}
.btn-get-direction {
	border-radius: 0;
	background-color: #eee;
}
.btn-clock {
	color: #ff5722;
	width: 100%;
}
.btn-cod {
	width: 100%;
	height: 4rem;
	font-size: 1.2rem;
	background-color: #fff;
	border: 3px dashed #60b246;
	border-radius: 0;
}
.btn-payed-online {
	width: 100%;
	height: 4rem;
	font-size: 1.2rem;
	background-color: #fff;
	border: 3px dashed #60b246;
	border-radius: 0;
}
.delivery-pin-block input {
	height: 4rem;
	border-radius: 0;
	text-transform: uppercase;
	border: 3px solid #e0e0e0;
}
.delivery-pin-block .btn-submit-pin {
	height: 3.2rem;
	width: 100%;
	border-radius: 0;
}
/* Delivery/ViewOrder */

.view-delivery-order h3 {
	font-size: 1.3rem;
	text-transform: uppercase;
}
.restaurant-address,
.customer-address {
	border: 1px solid #e0e0e0;
	padding: 1rem;
	background-color: #fff;
}

/* EXTRAS */

.fixed-gdpr {
	min-height: 3rem;
	height: auto;
	text-align: center;
	padding-top: 0.6rem;
	background-color: #282c3f;
	color: #fff;
}
.fixed-gdpr button {
	color: #fff;
}

.mobile-gdpr {
	position: fixed;
	bottom: 0;
	height: 6rem;
	color: #fff;
	left: 0;
	padding: 10px;
	box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.2);
	z-index: 9999999;
	background-color: #282c3f;
}
.mobile-gdpr button {
	color: #fff;
	padding: 3px 12px;
	font-size: 1.1rem;
	font-weight: 400;
	opacity: 1;
}

.mobile-gdpr button:hover {
	text-shadow: none;
	color: #fff;
}

/* Addons Popup*/
@keyframes hover-color {
	from {
		border-color: #c0c0c0;
	}
	to {
		border-color: #3e97eb;
	}
}

.magic-radio,
.magic-checkbox {
	position: absolute;
	height: 3rem;
	width: 100%;
	opacity: 0;
	z-index: 99999;
}

.magic-radio[disabled],
.magic-checkbox[disabled] {
	cursor: not-allowed;
}

.magic-radio + label,
.magic-checkbox + label {
	position: relative;
	display: block;
	cursor: pointer;
	vertical-align: middle;
	line-height: 30px;
}
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-name: hover-color;
}
.magic-radio + label:before,
.magic-checkbox + label:before {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: "";
	border: 2px solid #e7e7e7;
}
.magic-radio + label:after,
.magic-checkbox + label:after {
	position: absolute;
	display: none;
	content: "";
}

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
	cursor: not-allowed;
	color: #e4e4e4;
}
.magic-radio[disabled] + label:hover,
.magic-radio[disabled] + label:before,
.magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {
	cursor: not-allowed;
}
.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {
	border: 1px solid #e4e4e4;
	animation-name: none;
}
.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {
	border-color: #e4e4e4;
}

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
	animation-name: none;
}

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
	display: block;
}

.magic-radio + label:before {
	border-radius: 50%;
}

.magic-radio + label:after {
	top: 9px;
	right: 8.6px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #60b246;
}

.magic-radio:checked + label:before {
	border: 2px solid #bdbdbd;
}

.magic-radio:checked[disabled] + label:before {
	border: 1px solid #c9e2f9;
}

.magic-radio:checked[disabled] + label:after {
	background: #c9e2f9;
}

.magic-checkbox + label:before {
	border-radius: 3px;
}

.magic-checkbox + label:after {
	top: 7px;
	right: 11px;
	box-sizing: border-box;
	width: 8px;
	height: 15px;
	transform: rotate(45deg);
	border-width: 3px;
	border-style: solid;
	border-color: #fff;
	border-top: 0;
	border-left: 0;
}

.magic-checkbox:checked + label:before {
	border: #60b246;
	background: #60b246;
}

.magic-checkbox:checked[disabled] + label:before {
	border: #c9e2f9;
	background: #c9e2f9;
}
.form-group .addon-list {
	margin-bottom: 20px;
}
.addon-label {
	font-weight: 400;
	font-size: 1rem;
}
.addon-category-block:last-of-type {
	margin-bottom: 8rem;
}
.addon-category-name {
	font-weight: 700;
	margin-bottom: 0 !important;
	color: #424242;
	font-size: 1rem;
	text-transform: uppercase;
}

.btn-customization-done {
	position: fixed;
	bottom: 0;
	margin: 0;
	width: 110%;
	margin-left: -2rem;
	height: 4rem;
}
.customizable-item-text {
	text-align: left;
	font-weight: 100;
	font-size: 0.8rem;
}
.noscroll {
	overflow: hidden;
}

.customizable-scroll {
	overflow-y: scroll;
}

button.payButton {
	width: 92%;
	margin: 0 15px;
	height: 4rem;
	background-color: #fff;
	border: 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
	color: #6c757d !important;
	font-weight: 600;
	font-size: 0.928571rem !important;
}

.facebook-login-button {
	border: 0;
	height: 3rem;
	color: #fff;
	background-color: #3b5998;
	font-weight: 500;
	padding: 0 15px;
	font-size: 1.1rem;
}
.google-login-button {
	border: 0;
	height: 3rem;
	color: #fff;
	background-color: #ea4335;
	font-weight: 500;
	padding: 0 15px;
	font-size: 1.1rem;
}
.login-or {
	color: #bdbdbd;
}
.login-or:after,
.login-or:before {
	content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
	text-decoration: line-through;
}
